<div class="home-section">
  <p class="home-description">
    Welcome to Dimi's and Pierre's calendar, your one-stop destination for managing events and categories. Whether
    you're planning a conference, workshop, or any other type of event, our platform makes it easy for you to create,
    organize, and categorize events seamlessly.
    <br><br>
    Explore the world of events and categories with us and make your event management experience hassle-free and
    efficient. Our advanced features include being able to edit your event categories whenever you want! You can
    also filter events and categories using the search bars or even by using categories!
    <br><br>
  </p>
</div>
<div class="home-section">
  <h2>How to Manage, Create, View, and Edit Events:</h2>
  <ol>
    <li>
      <h3>Accessing the Event Management Page:</h3>
      <p>Open the DP application in Firefox or Chrome.</p>
    </li>
    <li>
      <h3>Existing Events:</h3>
      <p>Once in the application, navigate to the "Events" section.</p>
      <p>You will see a list of existing events with details such as title, location, organizer, dates, status, webpage,
        and category.</p>
      <p>In the events section, you can also search for events and filter by category.</p>
      <ul>
        <li>Filter by Category: Choose specific event categories to display.</li>
        <li>Search: If an event exists, search for specific event titles or keywords.</li>
      </ul>
      <p>Apply your desired changes, and the event list will update accordingly.</p>
    </li>
    <li>
      <h3>View details of an Event & change Event Images:</h3>
      <p>In the given events, look for a "View" option.</p>
      <p>Click on it to display the details of the selected event.</p>
      <p>To change the image associated with an event, follow these steps:</p>
      <ul>
        <li>Go to "Choose a file" and select the image you want to add to the event.</li>
        <li>After selecting, click on the "Upload Image" button to save your changes.</li>
      </ul>
    </li>
    <li>
      <h3>Editing an Existing Event:</h3>
      <p>From the list of events, click on the edit button of the event you want to edit.</p>
      <p>You can now modify the event details such as title, location, organizer (has to be a valid email address),
        dates,
        status, Webpage, and category.</p>
      <p>After making changes, click "Edit Event" to confirm the edits.</p>
    </li>
    <li>
      <h3>Creating a New Event:</h3>
      <p>Also in the Events section, you can create a new Event.</p>
      <p>You will be prompted to enter various event details:</p>
      <ul>
        <li>Title: Give your event a descriptive name.</li>
        <li>Location: Specify the event's location.</li>
        <li>Organizer: Enter a valid email address.</li>
        <li>Start Date: Choose the starting date and time of the event.</li>
        <li>End Date: Specify when the event will conclude.</li>
        <li>Status: Set the event's status (Free, Busy, or Tentative).</li>
        <li>Categories: Assign one or more category/categories to the event (e.g., Personal, Work, Holidays,
          University).</li>
      </ul>
      <p>After entering all necessary details, click "Create Event" to save the new event.</p>
    </li>
  </ol>
</div>